<html>
<head>
	<title>Where are they now?</title>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
		
		<link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<script src="static/bootstrap/js/bootstrap.min.js"></script>
		<script src="static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen"></script>
		<script type="text/javascript" src="static/group.js"></script>

		<script src="static/timepicker/jquery.timepicker.js" type="text/javascript"></script>
		<script src="static/timepicker/lib/base.js" type="text/javascript"></script>
		<link rel="stylesheet" type="text/css" href="static/timepicker/jquery.timepicker.css">
		<link rel="stylesheet" type="text/css" href="static/timepicker/lib/base.css">
		<script type="text/javascript">// <![CDATA[
        function preloader(){
            document.getElementById("loading").style.display = "none";
            document.getElementById("content").style.display = "block";
        }//preloader
        	window.onload = preloader;
		// ]]></script>
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
	<div id="loading"></div>
	<div id="content">
	<!-- 	{{class_area}}
		{{class_is}}
		{{study_area}}
		{{pub_date}}
		{{end}}
		{{body_notes}} -->
		{% if posts.count() == 0 %}
			<div class="container">
				<h2 class="text-center">No groups seem to be studying for {{request.args.get('what_class2')}} {{request.args.get('section_chose2')}} right now, sorry. <small class="text-center"> Would you like to start your own? <a href="http://127.0.0.1:5000/" class="text-center text-success"> Make your own group here!</a> </small></h2>
				<br>
				<img src="static/bootstrap/css/sad-face.jpg" alt="" class="image-responsive center-block"/>
			</div>
		{% endif %}
		<div class ="note_container">
		<table id="outer_box" class="table table-striped" >
		 {% for post in posts.order_by('pub_date') %}
		 	<tr id="tr_{{post.id}}" class="  col-md-12">
		 		<td>
		 		<h2>
			 		{{post.class_area}}
			 		{{post.class_is}}
		 		</h2>
	
		 		<p class="lead">In: {{post.study_area}}</p>
		 		{% if post.how_many == 10 %}
		 		Group of: <strong>{{post.how_many}}+</strong>
		 		{%else %}
		 		Group of: <strong>{{post.how_many}}</strong>
		 		{% endif %}
		 		<br>
		 		<p class="text-primary">From: {{post.pub_date.strftime('%I:%M%p')}}
		 		To: {{post.end.strftime('%I:%M%p')}}</p>
		 		<div class="header"><span>Expand for more info about the group!</span></div>
			 		<p class="toshow">
			 			{{post.body_notes}}
			 		</p>

		 		<td>
		 	</tr>
		 {% endfor %}
		</table>
		</div>
	</div>
</body>

</html>