<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Homepage for UR Study Groups</title>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
		
		<link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<script src="static/bootstrap/js/bootstrap.min.js"></script>
		<script src="static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen"></script>
		<script type="text/javascript" src="static/group.js"></script>

		<script src="static/timepicker/jquery.timepicker.js" type="text/javascript"></script>
		<script src="static/timepicker/datepair.js" type="text/javascript"></script>
		<script src="static/timepicker/lib/base.js" type="text/javascript"></script>
		<link rel="stylesheet" type="text/css" href="static/timepicker/jquery.timepicker.css">
		<link rel="stylesheet" type="text/css" href="static/timepicker/lib/base.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />

    <link href="http://fonts.googleapis.com/css?family=Abel|Open+Sans:400,600" rel="stylesheet" />



		<style>
			html {
            background: url(static/bootstrap/css/rrl6.jpg) no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        body {
            padding-top: 20px;
            font-size: 16px;
            font-family: "Open Sans",serif;
            background: transparent;
        }
        @import 'bootstrap.less';
        .panel {
            background-color: rgba(255, 255, 255, 0.9);
            .border-radius( 5px ) !important;
        }
        h3 {
            font-family: "Abel", Arial, sans-serif;
            font-weight: 400;
            font-size: 33px;
        }
         .margin-base-vertical {
            margin: 40px 0;
        }

		</style>
	</head>
	<body>
	<div class="container">
	<div class="row">
	<div id ="outer_box" class=" col-md-6 col-md-offset-3 pagination-centered panel panel-default" style="border-radius:5px;">
		<div id = "init_choice" class="pagination-centered">
			<h3 class="margin-base-vertical panel-title">Are you looking for a study group or are you looking for people to join yours?</h3>

			<button id ="in_group" class="btn btn-primary btn-large pagination-centered">
			<span class="glyphicon glyphicon-star"></span>I have a study group already/I'm looking to create a study group</button>
			<button id ="lf_group" class="btn btn-primary btn-large pagination-centered">I'm looking for a study group</button>
			<br />
			<br />

			<form name="edit_posts" method="GET" action="/edit_posts">
				<button class="btn btn-success btn-large pagination-centered" type="submit"> I already made a group; let me edit it!</button>
			</form>
		</div>

	<form name="input" method="POST" action="/checkin" >
		<div id="what_class" class="pagination-centered toshow">
			
			<p class='help-block'>Name to go by?<br /><small>It doesn't have to be your real name, just something unique we can identify you by if you want to edit your group later. </small> </p>
			<input type="text" class='form-control input-lg' name='author' placeholder='Selig-the-man26' />

			<p>What subject are you studying for?</p>
			<select id="class_selected" class='form-control input-lg' name="what_class" placeholder="Selig-the-man26">
				<option value=""></option>
				<option value="AAS">AAS - African &amp; African-American Studies</option>
				<option value="ACC">ACC - Accounting</option>
				<option value="ACM">ACM - Accompanying</option>
				<option value="ACY">ACY - Accompanying Class</option>
				<option value="AEC">AEC - Applied Economics</option>
				<option value="AH">AH - Art &amp; Art History-Art History</option>
				<option value="AH">AH - Art History</option>
				<option value="ALC">ALC - Arts Leadership Curriculum</option>
				<option value="AME">AME - Audio Music Engineering</option>
				<option value="AMS">AMS - American Studies</option>
				<option value="AMU">AMU - Applied Music Lessons: Summer</option>
				<option value="ANA">ANA - Anatomy</option>
				<option value="ANR">ANR - Anthropology</option>
				<option value="ANT">ANT - Anthropology</option>
				<option value="APS">APS - Applied Statistics</option>
				<option value="ARA">ARA - Religion &amp; Classics - Arabic</option>
				<option value="ASL">ASL - American Sign Language</option>
				<option value="AST">AST - Astronomy</option>
				<option value="BCH">BCH - Biochemistry</option>
				<option value="BCS">BCS - Brain and Cognitive Sciences</option>
				<option value="BIO">BIO - Biology</option>
				<option value="BME">BME - Biomedical Engineering</option>
				<option value="BPH">BPH - Biophysics</option>
				<option value="BPP">BPP - Business Environment &amp; Public Policies</option>
				<option value="BRN">BRN - BRN</option>
				<option value="BSI">BSI - Behavioral Science in Industry</option>
				<option value="BSN">BSN - Bassoon</option>
				<option value="BST">BST - Biostatistics</option>
				<option value="CAS">CAS - College of Arts &amp; Science</option>
				<option value="CED">CED - CED</option>
				<option value="CGR">CGR - Religion &amp; Classics - Classical Greek</option>
				<option value="CHB">CHB - Chamber Music</option>
				<option value="CHE">CHE - Chemical Engineering</option>
				<option value="CHI">CHI - Modern Languages &amp; Cultures - Chinese</option>
				<option value="CHM">CHM - Chemistry</option>
				<option value="CIS">CIS - Computers &amp; Information Systems</option>
				<option value="CL">CL - Clarinet</option>
				<option value="CLA">CLA - Religion &amp; Classics - Classical Studies</option>
				<option value="CLT">CLT - Modern Languages &amp; Cultures - Comparative Literature</option>
				<option value="CMP">CMP - Composition</option>
				<option value="CND">CND - Conducting</option>
				<option value="CSC">CSC - Computer Science</option>
				<option value="CSP">CSP - Clinical and Social Sciences in Psychology</option>
				<option value="CVS">CVS - Cardiovascular Biology &amp; Disease</option>
				<option value="CVS">CVS - Center for Visual Science</option>
				<option value="DAN">DAN - Dance</option>
				<option value="DBL">DBL - Double Bass</option>
				<option value="DGD">DGD - DGD Courses</option>
				<option value="DGD">DGD - General Dentistry</option>
				<option value="DMS">DMS - Digital Media Studies</option>
				<option value="DOM">DOM - Oral &amp; Maxillofacial Surgery</option>
				<option value="DOM">DOM - Oral&amp;Max Surgery</option>
				<option value="DOR">DOR - Orthodontics</option>
				<option value="DPD">DPD - Pediatric Dentistry</option>
				<option value="DPD">DPD - Pedodontics</option>
				<option value="DPR">DPR - Periodontics</option>
				<option value="DPS">DPS - Prosthodintics</option>
				<option value="DTR">DTR - 2yr Training Pediatric Dentistry</option>
				<option value="EAS">EAS - Engineering and Applied Sciences</option>
				<option value="ECE">ECE - Electrical and Computer Engineering</option>
				<option value="ECM">ECM - Electronic Commerce</option>
				<option value="ECO">ECO - Economics</option>
				<option value="ED">ED - ED Courses</option>
				<option value="EDE">EDE - EDE Courses</option>
				<option value="EDF">EDF - EDF Courses</option>
				<option value="EDU">EDU - EDU Courses</option>
				<option value="EES">EES - Earth &amp; Environmental Science</option>
				<option value="EIC">EIC - Eastman Initiatives Curriculum</option>
				<option value="ENG">ENG - English</option>
				<option value="ENS">ENS - Ensemble</option>
				<option value="ENT">ENT - Entrepreneurship</option>
				<option value="ERG">ERG - Alternative Energy</option>
				<option value="ESL">ESL - English as a Second Language</option>
				<option value="ESM">ESM - Eastman School of Music</option>
				<option value="ETH">ETH - Ethnomusicology</option>
				<option value="EUP">EUP - Euphonium</option>
				<option value="EXP">EXP - Executive Development Program</option>
				<option value="FIN">FIN - Finance</option>
				<option value="FL">FL - Flute</option>
				<option value="FMS">FMS - Film and Media Studies</option>
				<option value="FR">FR - French</option>
				<option value="FR">FR - Modern Languages &amp; Cultures - French</option>
				<option value="FS">FS - Film Studies</option>
				<option value="FS">FS - New Department/Subject</option>
				<option value="FWS">FWS - Freshman Writing Seminar</option>
				<option value="GBA">GBA - General Business Administration</option>
				<option value="GEN">GEN - Genetics</option>
				<option value="GER">GER - German</option>
				<option value="GER">GER - Modern Languages &amp; Cultures - German</option>
				<option value="GPR">GPR - New Department/Subject</option>
				<option value="GTC">GTC - Guitar Class</option>
				<option value="GTR">GTR - Guitar</option>
				<option value="HEB">HEB - Religion &amp; Classics - Hebrew</option>
				<option value="HIS">HIS - History</option>
				<option value="HLS">HLS - Health and Society</option>
				<option value="HPC">HPC - Harpsichord</option>
				<option value="HRN">HRN - Horn</option>
				<option value="HRP">HRP - Harp</option>
				<option value="HSE">HSE - HSE Courses</option>
				<option value="HSM">HSM - Health Science Management</option>
				<option value="HUM">HUM - Humanities</option>
				<option value="IND">IND - Interdepartmental</option>
				<option value="INS">INS - Institutes</option>
				<option value="IR">IR - International Relations</option>
				<option value="IT">IT - Italian</option>
				<option value="IT">IT - Modern Languages &amp; Cultures - Italian</option>
				<option value="JAZ">JAZ - Jazz Lessons</option>
				<option value="JCM">JCM - Jazz Study &amp; Contemporary Media</option>
				<option value="JPN">JPN - Modern Languages &amp; Cultures - Japanese</option>
				<option value="JST">JST - Judaic Studies</option>
				<option value="KBD">KBD - Keyboard</option>
				<option value="LAM">LAM - Lab Animal Medicine</option>
				<option value="LAT">LAT - Religion &amp; Classics - Latin</option>
				<option value="LAW">LAW - Business Law</option>
				<option value="LIN">LIN - Linguistics</option>
				<option value="LTS">LTS - Literary Translation Studies</option>
				<option value="LUT">LUT - Lute</option>
				<option value="MBI">MBI - Microbiology</option>
				<option value="ME">ME - Mechanical Engineering</option>
				<option value="MED">MED - Medicine</option>
				<option value="MGC">MGC - Managerial Communications</option>
				<option value="MHB">MHB - Medical Humanities and Bioethics</option>
				<option value="MHS">MHS - Music History</option>
				<option value="MIF">MIF - Medical Informatics</option>
				<option value="MKT">MKT - Marketing</option>
				<option value="MSC">MSC - Materials Science</option>
				<option value="MSM">MSM - Management Science Models</option>
				<option value="MTH">MTH - Mathematics</option>
				<option value="MUE">MUE - Music Education</option>
				<option value="MUR">MUR - Music</option>
				<option value="MUY">MUY - Musicology</option>
				<option value="NAV">NAV - Naval Science</option>
				<option value="NLX">NLX - Leadership in Health Care Systems</option>
				<option value="NSC">NSC - Neuroscience</option>
				<option value="NSG">NSG - Center for Lifelong Learning</option>
				<option value="NUR">NUR - Nursing</option>
				<option value="OB">OB - Oboe</option>
				<option value="OMG">OMG - Operations Management</option>
				<option value="OP">OP - Opera</option>
				<option value="OPT">OPT - Optics</option>
				<option value="ORB">ORB - ORB Courses</option>
				<option value="ORC">ORC - Orchestration</option>
				<option value="ORG">ORG - Organ</option>
				<option value="PA">PA - Piano</option>
				<option value="PCL">PCL - Piano Class</option>
				<option value="PEC">PEC - Wallis Institute of Political Economics</option>
				<option value="PED">PED - Pedagogy</option>
				<option value="PH">PH - Public Health</option>
				<option value="PHL">PHL - Philosophy</option>
				<option value="PHP">PHP - Pharmacology &amp; Physiology</option>
				<option value="PHY">PHY - Physics</option>
				<option value="PIC">PIC - Piccolo</option>
				<option value="PM">PM - Preventive Medicine</option>
				<option value="POL">POL - Modern Languages &amp; Cultures - Polish</option>
				<option value="PRC">PRC - Percussion</option>
				<option value="PRF">PRF - Performance</option>
				<option value="PSC">PSC - Political Science</option>
				<option value="PSI">PSI - Psychiatry</option>
				<option value="PSY">PSY - Psychology</option>
				<option value="PTH">PTH - Pathology</option>
				<option value="RAD">RAD - Radiology</option>
				<option value="REL">REL - Religion and Classics</option>
				<option value="RST">RST - Modern Languages &amp; Cultures - Russian Studies</option>
				<option value="RUS">RUS - Modern Languages &amp; Cultures - Russian</option>
				<option value="SA">SA - Art &amp; Art History-Studio Arts</option>
				<option value="SAB">SAB - Study Abroad</option>
				<option value="SAX">SAX - Saxophone</option>
				<option value="SKT">SKT - Religion &amp; Classics - Sanskrit</option>
				<option value="SMU">SMU - Sacred Music</option>
				<option value="SOC">SOC - Sociology</option>
				<option value="SP">SP - Modern Languages &amp; Cultures - Spanish</option>
				<option value="STR">STR - Managerial Economics</option>
				<option value="STR">STR - Strings</option>
				<option value="STT">STT - Statistics</option>
				<option value="TBA">TBA - Tuba</option>
				<option value="TBN">TBN - Trombone</option>
				<option value="TCS">TCS - TEAM Computer Science</option>
				<option value="TEB">TEB - TEAM Biomedical Engineering</option>
				<option value="TEC">TEC - TEAM Chemical Engineering</option>
				<option value="TEE">TEE - TEAM Electrical Engineering</option>
				<option value="TEM">TEM - New Department/Subject</option>
				<option value="TEM">TEM - Technical Entrepreneurship Management</option>
				<option value="TEO">TEO - TEAM Optics</option>
				<option value="TH">TH - Theory</option>
				<option value="TME">TME - TEAM Mechanical Engineering</option>
				<option value="TMJ">TMJ - Temp, Bular JNT Disorder</option>
				<option value="TMJ">TMJ - Temporomandibular Jnt Disrdr</option>
				<option value="TOX">TOX - Toxicology</option>
				<option value="TPT">TPT - Trumpet</option>
				<option value="VCE">VCE - Voice</option>
				<option value="VCL">VCL - Violoncello</option>
				<option value="VLA">VLA - Viola</option>
				<option value="VLN">VLN - Violin</option>
				<option value="VSR">VSR - Visiting Student In Residence</option>
				<option value="WLN">WLN - Wellness</option>
				<option value="WRT">WRT - Writing Program</option>
				<option value="WST">WST - Women's Studies</option>	
			</select>
		</div>
		<div id="section_chose" class="pagination-centered toshow">
			<p>What course number are you in? (110, 131, 161, 207, etc.)</p>
			<input type='text' autocomplete='off' id='section' name="section_chose" />
			<br />
			<button id='sub_me' class="btn btn-primary btn-small pagination-centered" type="button" > Submit </button>
			<br />
			<br />


		</div>
	
		<div id="lib_in" class='pagination-centered toshow'>
			<p class="help-block">How many people are in your group right now <strong class='text-muted'> INCLUDING YOU</strong>?<br><small>This can be changed later if people join or leave, don't worry </small></p>
			 Just me! <input type="radio" name="how_many" class="how_many" value=1>
			 2 <input type="radio" name="how_many" class="how_many" value=2>
			 3 <input type="radio" name="how_many" class="how_many" value=3>
			 4 <input type="radio" name="how_many" class="how_many" value=4>
			 5 <input type="radio" name="how_many" class="how_many" value=5>
			 6 <input type="radio" name="how_many" class="how_many" value=6>
			 7 <input type="radio" name="how_many" class="how_many" value=7>
			 8 <input type="radio" name="how_many" class="how_many" value=8>
			 9 <input type="radio" name="how_many" class="how_many" value=9>
			 10+ <input type="radio" name="how_many" class="how_many" value=10>
			<br>
			<br>
			<p>What library are you studying in? </p>
			<select id='library_study'class='pagination-centered' name="library_study">
			<option value='nil'></option>
			<option value='Gleason'>Gleason</option>
			<option value='ITS -- 2nd Floor'>IT Center -- 2nd Floor</option>
			<option value='ITS -- First Floor'>IT Center -- 1st Floor</option>
			<option value="Carlson">Carlson</option>
			<option value='Rush Rhees Library'>Rush Rhees</option>
			<option value='Rettner -- 2nd Floor'>Rettner -- 2nd Floor</option>
			<option value='Rettner -- 3rd Floor'>Rettner -- 3rd Floor</option>
			<option value='Physics &amp; Astronomy Library'>Physics &amp; Astronomy Library</option>
			</select><br>
		</div>


		<div class='pagination-centered toshow' id="time_chose" name="time_chose">

			<p id="lib_text"></p> 
			<p class='datepair' data-language='javascript'>
			<input type='text' id='time_start' class='time start ui-timepicker-input timepicker' autocomplete='off' name="time_start" placeholder="12:00pm"> 
			to <input type='text' name="time_end" id='time_end' class='time end ui-timepicker-input timepicker2' autocomplete='off' placeholder="12:00pm">
			</p>

			<button id='sub_me2' class="btn btn-primary btn-small pagination-centered" type="button"> Submit </button>
			<br />
		
			<img id="loading" style="display: none" src="/static/img/loadingimage.gif">
			<br>
			<br>
			<div id="other_groups" style="display: none" class="well">
				
			</div>
		</div>

		<div class='pagination-centered toshow' id="notes">
			<p> Anything else to add? e.g. who to look for, any distinguishing features, what's the maximum group size you'd like, certain subject material, chapters, professors, do you have any TAs with you, are you bringing snacks? ;) etc.</p>
			<textarea name="notes_section" cols="25" rows="5" id="notes_section">
			</textarea><br>
		</div>
		<div class='pagination-centered toshow' id="check_in_button">
				<button id='check_in' class="btn btn-primary btn-small pagination-centered" type='submit'>Check in now</button>
			<br />
			<br />
			<br />
		</div>
</form>
		
		<form name="input" method="GET" action="/checkin" >
		<div id="what_class2" class="pagination-centered toshow">
			<p>What subject are you studying for?</p>
			<select id="class_selected2" name="what_class2">
				<option value=""></option>
				<option value="AAS">AAS - African &amp; African-American Studies</option>
				<option value="ACC">ACC - Accounting</option>
				<option value="ACM">ACM - Accompanying</option>
				<option value="ACY">ACY - Accompanying Class</option>
				<option value="AEC">AEC - Applied Economics</option>
				<option value="AH">AH - Art &amp; Art History-Art History</option>
				<option value="AH">AH - Art History</option>
				<option value="ALC">ALC - Arts Leadership Curriculum</option>
				<option value="AME">AME - Audio Music Engineering</option>
				<option value="AMS">AMS - American Studies</option>
				<option value="AMU">AMU - Applied Music Lessons: Summer</option>
				<option value="ANA">ANA - Anatomy</option>
				<option value="ANR">ANR - Anthropology</option>
				<option value="ANT">ANT - Anthropology</option>
				<option value="APS">APS - Applied Statistics</option>
				<option value="ARA">ARA - Religion &amp; Classics - Arabic</option>
				<option value="ASL">ASL - American Sign Language</option>
				<option value="AST">AST - Astronomy</option>
				<option value="BCH">BCH - Biochemistry</option>
				<option value="BCS">BCS - Brain and Cognitive Sciences</option>
				<option value="BIO">BIO - Biology</option>
				<option value="BME">BME - Biomedical Engineering</option>
				<option value="BPH">BPH - Biophysics</option>
				<option value="BPP">BPP - Business Environment &amp; Public Policies</option>
				<option value="BRN">BRN - BRN</option>
				<option value="BSI">BSI - Behavioral Science in Industry</option>
				<option value="BSN">BSN - Bassoon</option>
				<option value="BST">BST - Biostatistics</option>
				<option value="CAS">CAS - College of Arts &amp; Science</option>
				<option value="CED">CED - CED</option>
				<option value="CGR">CGR - Religion &amp; Classics - Classical Greek</option>
				<option value="CHB">CHB - Chamber Music</option>
				<option value="CHE">CHE - Chemical Engineering</option>
				<option value="CHI">CHI - Modern Languages &amp; Cultures - Chinese</option>
				<option value="CHM">CHM - Chemistry</option>
				<option value="CIS">CIS - Computers &amp; Information Systems</option>
				<option value="CL">CL - Clarinet</option>
				<option value="CLA">CLA - Religion &amp; Classics - Classical Studies</option>
				<option value="CLT">CLT - Modern Languages &amp; Cultures - Comparative Literature</option>
				<option value="CMP">CMP - Composition</option>
				<option value="CND">CND - Conducting</option>
				<option value="CSC">CSC - Computer Science</option>
				<option value="CSP">CSP - Clinical and Social Sciences in Psychology</option>
				<option value="CVS">CVS - Cardiovascular Biology &amp; Disease</option>
				<option value="CVS">CVS - Center for Visual Science</option>
				<option value="DAN">DAN - Dance</option>
				<option value="DBL">DBL - Double Bass</option>
				<option value="DGD">DGD - DGD Courses</option>
				<option value="DGD">DGD - General Dentistry</option>
				<option value="DMS">DMS - Digital Media Studies</option>
				<option value="DOM">DOM - Oral &amp; Maxillofacial Surgery</option>
				<option value="DOM">DOM - Oral&amp;Max Surgery</option>
				<option value="DOR">DOR - Orthodontics</option>
				<option value="DPD">DPD - Pediatric Dentistry</option>
				<option value="DPD">DPD - Pedodontics</option>
				<option value="DPR">DPR - Periodontics</option>
				<option value="DPS">DPS - Prosthodintics</option>
				<option value="DTR">DTR - 2yr Training Pediatric Dentistry</option>
				<option value="EAS">EAS - Engineering and Applied Sciences</option>
				<option value="ECE">ECE - Electrical and Computer Engineering</option>
				<option value="ECM">ECM - Electronic Commerce</option>
				<option value="ECO">ECO - Economics</option>
				<option value="ED">ED - ED Courses</option>
				<option value="EDE">EDE - EDE Courses</option>
				<option value="EDF">EDF - EDF Courses</option>
				<option value="EDU">EDU - EDU Courses</option>
				<option value="EES">EES - Earth &amp; Environmental Science</option>
				<option value="EIC">EIC - Eastman Initiatives Curriculum</option>
				<option value="ENG">ENG - English</option>
				<option value="ENS">ENS - Ensemble</option>
				<option value="ENT">ENT - Entrepreneurship</option>
				<option value="ERG">ERG - Alternative Energy</option>
				<option value="ESL">ESL - English as a Second Language</option>
				<option value="ESM">ESM - Eastman School of Music</option>
				<option value="ETH">ETH - Ethnomusicology</option>
				<option value="EUP">EUP - Euphonium</option>
				<option value="EXP">EXP - Executive Development Program</option>
				<option value="FIN">FIN - Finance</option>
				<option value="FL">FL - Flute</option>
				<option value="FMS">FMS - Film and Media Studies</option>
				<option value="FR">FR - French</option>
				<option value="FR">FR - Modern Languages &amp; Cultures - French</option>
				<option value="FS">FS - Film Studies</option>
				<option value="FS">FS - New Department/Subject</option>
				<option value="FWS">FWS - Freshman Writing Seminar</option>
				<option value="GBA">GBA - General Business Administration</option>
				<option value="GEN">GEN - Genetics</option>
				<option value="GER">GER - German</option>
				<option value="GER">GER - Modern Languages &amp; Cultures - German</option>
				<option value="GPR">GPR - New Department/Subject</option>
				<option value="GTC">GTC - Guitar Class</option>
				<option value="GTR">GTR - Guitar</option>
				<option value="HEB">HEB - Religion &amp; Classics - Hebrew</option>
				<option value="HIS">HIS - History</option>
				<option value="HLS">HLS - Health and Society</option>
				<option value="HPC">HPC - Harpsichord</option>
				<option value="HRN">HRN - Horn</option>
				<option value="HRP">HRP - Harp</option>
				<option value="HSE">HSE - HSE Courses</option>
				<option value="HSM">HSM - Health Science Management</option>
				<option value="HUM">HUM - Humanities</option>
				<option value="IND">IND - Interdepartmental</option>
				<option value="INS">INS - Institutes</option>
				<option value="IR">IR - International Relations</option>
				<option value="IT">IT - Italian</option>
				<option value="IT">IT - Modern Languages &amp; Cultures - Italian</option>
				<option value="JAZ">JAZ - Jazz Lessons</option>
				<option value="JCM">JCM - Jazz Study &amp; Contemporary Media</option>
				<option value="JPN">JPN - Modern Languages &amp; Cultures - Japanese</option>
				<option value="JST">JST - Judaic Studies</option>
				<option value="KBD">KBD - Keyboard</option>
				<option value="LAM">LAM - Lab Animal Medicine</option>
				<option value="LAT">LAT - Religion &amp; Classics - Latin</option>
				<option value="LAW">LAW - Business Law</option>
				<option value="LIN">LIN - Linguistics</option>
				<option value="LTS">LTS - Literary Translation Studies</option>
				<option value="LUT">LUT - Lute</option>
				<option value="MBI">MBI - Microbiology</option>
				<option value="ME">ME - Mechanical Engineering</option>
				<option value="MED">MED - Medicine</option>
				<option value="MGC">MGC - Managerial Communications</option>
				<option value="MHB">MHB - Medical Humanities and Bioethics</option>
				<option value="MHS">MHS - Music History</option>
				<option value="MIF">MIF - Medical Informatics</option>
				<option value="MKT">MKT - Marketing</option>
				<option value="MSC">MSC - Materials Science</option>
				<option value="MSM">MSM - Management Science Models</option>
				<option value="MTH">MTH - Mathematics</option>
				<option value="MUE">MUE - Music Education</option>
				<option value="MUR">MUR - Music</option>
				<option value="MUY">MUY - Musicology</option>
				<option value="NAV">NAV - Naval Science</option>
				<option value="NLX">NLX - Leadership in Health Care Systems</option>
				<option value="NSC">NSC - Neuroscience</option>
				<option value="NSG">NSG - Center for Lifelong Learning</option>
				<option value="NUR">NUR - Nursing</option>
				<option value="OB">OB - Oboe</option>
				<option value="OMG">OMG - Operations Management</option>
				<option value="OP">OP - Opera</option>
				<option value="OPT">OPT - Optics</option>
				<option value="ORB">ORB - ORB Courses</option>
				<option value="ORC">ORC - Orchestration</option>
				<option value="ORG">ORG - Organ</option>
				<option value="PA">PA - Piano</option>
				<option value="PCL">PCL - Piano Class</option>
				<option value="PEC">PEC - Wallis Institute of Political Economics</option>
				<option value="PED">PED - Pedagogy</option>
				<option value="PH">PH - Public Health</option>
				<option value="PHL">PHL - Philosophy</option>
				<option value="PHP">PHP - Pharmacology &amp; Physiology</option>
				<option value="PHY">PHY - Physics</option>
				<option value="PIC">PIC - Piccolo</option>
				<option value="PM">PM - Preventive Medicine</option>
				<option value="POL">POL - Modern Languages &amp; Cultures - Polish</option>
				<option value="PRC">PRC - Percussion</option>
				<option value="PRF">PRF - Performance</option>
				<option value="PSC">PSC - Political Science</option>
				<option value="PSI">PSI - Psychiatry</option>
				<option value="PSY">PSY - Psychology</option>
				<option value="PTH">PTH - Pathology</option>
				<option value="RAD">RAD - Radiology</option>
				<option value="REL">REL - Religion and Classics</option>
				<option value="RST">RST - Modern Languages &amp; Cultures - Russian Studies</option>
				<option value="RUS">RUS - Modern Languages &amp; Cultures - Russian</option>
				<option value="SA">SA - Art &amp; Art History-Studio Arts</option>
				<option value="SAB">SAB - Study Abroad</option>
				<option value="SAX">SAX - Saxophone</option>
				<option value="SKT">SKT - Religion &amp; Classics - Sanskrit</option>
				<option value="SMU">SMU - Sacred Music</option>
				<option value="SOC">SOC - Sociology</option>
				<option value="SP">SP - Modern Languages &amp; Cultures - Spanish</option>
				<option value="STR">STR - Managerial Economics</option>
				<option value="STR">STR - Strings</option>
				<option value="STT">STT - Statistics</option>
				<option value="TBA">TBA - Tuba</option>
				<option value="TBN">TBN - Trombone</option>
				<option value="TCS">TCS - TEAM Computer Science</option>
				<option value="TEB">TEB - TEAM Biomedical Engineering</option>
				<option value="TEC">TEC - TEAM Chemical Engineering</option>
				<option value="TEE">TEE - TEAM Electrical Engineering</option>
				<option value="TEM">TEM - New Department/Subject</option>
				<option value="TEM">TEM - Technical Entrepreneurship Management</option>
				<option value="TEO">TEO - TEAM Optics</option>
				<option value="TH">TH - Theory</option>
				<option value="TME">TME - TEAM Mechanical Engineering</option>
				<option value="TMJ">TMJ - Temp, Bular JNT Disorder</option>
				<option value="TMJ">TMJ - Temporomandibular Jnt Disrdr</option>
				<option value="TOX">TOX - Toxicology</option>
				<option value="TPT">TPT - Trumpet</option>
				<option value="VCE">VCE - Voice</option>
				<option value="VCL">VCL - Violoncello</option>
				<option value="VLA">VLA - Viola</option>
				<option value="VLN">VLN - Violin</option>
				<option value="VSR">VSR - Visiting Student In Residence</option>
				<option value="WLN">WLN - Wellness</option>
				<option value="WRT">WRT - Writing Program</option>
				<option value="WST">WST - Women's Studies</option>	
			</select>
		</div>
		<div id="section_chose2" class="pagination-centered toshow">
			<p>What course number are you in? (110, 131, 161, 207, etc.)</p>
			<input type='text' autocomplete='off' id='section' name="section_chose2" />
			<br />
			<button id='sub_me_lf' class="btn btn-primary btn-medium pagination-centered" type="submit"> Look for a group now! </button>
			<br />
			<br />
			<br />
		</div>
		</form>

	
	

	<footer class="footer panel-footer">
		<small><a href="{{url_for('faq_page')}}" class='text-info'>FAQ</a> · Made by Bram Adams <span class="glyphicon glyphicon-heart text-muted"></span>  &copy;2013</small> 	
	</footer>
	</div>
	</div>
	</div>
	</div>
</body>


</html>